{% load compress umap_tags i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block head_title %}{{ SITE_NAME }}{% endblock %}</title>
    <meta charset="utf-8">
    {% block extra_head %}{% endblock extra_head %}
    <link rel="icon" href="{{ STATIC_URL }}umap/favicon.png" type="image/png" sizes="32x32"> {# TODO setting per site #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N6N27MM');</script>
    <!-- End Google Tag Manager -->
</head>
<body class="{% block body_class %}{% endblock %}">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N6N27MM"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% block header %}
    {% endblock header %}

    {% block content %}
    {% endblock content %}
    {% block bottom_js %}
    {% endblock bottom_js %}

    {% block footer %}
        {% include "umap/footer.html" %}
    {% endblock footer %}
</body>
</html>
